{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}
    {{ super() }} 
    Hello
{% endblock %}

{% block content %}
    
    <div class="container mt-2">

        {% if username %}
            <h1 class="text-center">Hello {{username}}, welcome</h1>
        {% endif %}

        {% if user_ip %}
            <h3 class="text-center">your ip is {{user_ip}}</h3>
        {% else %}
            <a href="{{ url_for('index') }}">Ir a inicio</a>
        {% endif %}

    </div>

    <div class="container">
        
     

    </div>

    
    {% for todo in todos %}
            {{macros.render_todo(todo)}}
    {% endfor %}

{% endblock %}

